
@import 'normalize.less';
@import 'preboot.less';
@import 'plugins.less';

/*
|--------------------------------------------------------------------------
| App
|--------------------------------------------------------------------------
*/

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    position: relative;
    min-height: 100%;
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
*/

// @media( min-width: 1px )    { .container { margin: 0 15px; } }
// @media( min-width: 768px )  { .container { margin: 0 30px; } }
// @media( min-width: 980px )  { .container { margin: 0 auto; width: 960px;  } }
// @media( min-width: 1200px ) { .container { margin: 0 auto; width: 1170px; } }
@media( min-width: 1680px ) { .container { margin: 0 30px; width: auto; } }

@media( min-width: 768px )  { .row { .make-row() } }

.container {
    .clearfix();
    &.container-relative {
        position: relative;
    }
}


body {
    background-color: #a5b779;
    background-color: #7CB342;
    background-color: #66BB6A;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}





.canvas-wrapper {
    margin: 50px auto;
}

canvas {}

@media( min-width: 1px ) {
    .canvas-wrapper, canvas {
        width: 300px;
        height: 300px;
    }
    .canvas-wrapper {
         margin: 30px auto;
    }
    .tweets {
        display: none;
    }
}

@media( min-width: 768px ) {
    .canvas-wrapper, canvas {
        width: 700px;
        height: 700px;
    }
}


@media( min-width: 769px ) {
    .canvas-wrapper, canvas {
        width: 500px;
        height: 500px;
    }
    .content {
        padding-right: 400px;
    }
    .tweets {
        display: block;
        width: 400px;
    }
}


@media( min-width: 1280px ) {
    .canvas-wrapper, canvas {
        width: 600px;
        height: 600px;
    }
    .content {
        padding-right: 400px;
    }
    .tweets {
        width: 400px;
    }
} 

@media( min-width: 1440px ) {
    .canvas-wrapper, canvas {
        width: 700px;
        height: 700px;
    }
    .content {
        padding-right: 500px;
    }
    .tweets {
        width: 500px;
    }
} 

@media( min-width: 1680px ) {
    .canvas-wrapper, canvas {
        width: 800px;
        height: 800px;
    }
    .content {
        padding-right: 600px;
    }
    .tweets {
        width: 600px;
    }
} 


.canvas-wrapper {
    background-image: url('../img/text.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
}

.share {
    margin: 40px 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 20px;
    }
    a {
        .box-sizing(border-box);
        display: block;
        padding: 10px 20px;
        border: solid 2px #fff;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

@media( max-width: 767px ) {
    .logo {
        width: 70%;
        margin: 30px auto;
        display: block;
    }
    .share {
        li {
            display: block;
        }
        a {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}


footer {
    color: #fff;
    font-size: 12px;
    a {
        text-decoration: none;
        color: inherit;
    }
}

@media( min-width: 1px) {
    footer {
        padding: 20px;
        text-align: center;
    }
}

@media( min-width: 1024px) {
    footer {
        position: absolute;
        left: 30px;
        bottom: 30px;
        text-align: left;
        padding: 0;
    }
}

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import 'common';
@import 'tweets';

