extends layout

block content

    a(href="/").logo
        img(src="/img/logo.svg", alt="#feckfriday")
    .content
        .container 
            .canvas-wrapper
                canvas(id="feckitanyway" width="800" height="800")

            ul.share
                li
                    a(href="https://twitter.com/share?text=Working%20Friday.%20%23FeckFridayIn.%20Who's%20dodging%20the%20day%20after%20Paddy's%20Day?%20Working,%20off%20or%20%23FeckFriday?%20Let%20us%20know%20at")= "#FeckFridayIn"
                li
                    a(href="https://twitter.com/share?text=Off%20on%20Friday.%20%23FeckFridayOff.%20Who's%20dodging%20the%20day%20after%20Paddy's%20Day?%20Working,%20off%20or%20%23FeckFriday?%20Let%20us%20know%20at")= "#FeckFridayOut"
                li
                    a(href="https://twitter.com/share?text=I'm%20AWOL.%20%23FeckFridayAWOL.%20Who's%20dodging%20the%20day%20after%20Paddy's%20Day?%20Working,%20off%20or%20%23FeckFriday?%20Let%20us%20know%20at")= "#FeckFridayAWOL"
    
    .tweets
        - for tweet in tweets
            include _partials/tweet
        .fade
